<!DOCTYPE html>
<html>

<%- include('layouts/header') %>

  <body>

    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..."/>
      </li>
      <form action="" method="post">
        <li class="login page">
          <div class="form">
            <input class="usernameInput mt-4" name="email" id="email" type="email" maxlength="119" placeholder="Email" />
            <br>
            <input class="usernameInput mb-4" name="password" id="password" type="password" maxlength="14" placeholder="Password" />
            
            <input class="form-control btn-info m-auto" style="width: 400px;" type="submit" value="Submit"/>
          </div>
        </li>
      </form>
      </ul>

    <%- include('layouts/footer') %>
  </body>
</html>

